body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center;
    opacity: 0.7;
 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:white;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 100px;
}

.form-container {
    background: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
}

input, select {
    padding: 10px;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: lightgreen;
    color:lightgoldenrodyellow;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: lightseagreen;
}

.login-link {
    display: block;
    margin-top: 15px;
    color: red;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
