
body, h1, p, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ooo{
    border-radius: 70%;
    top: 10px;
    left: 10px;
}
.top{
    position: absolute;
    top: 10px;
    left: 10px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: 400px;
}


header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo {
    max-width: 100px;
}


main {
    margin-top: 60px;
}

.headline {
    font-size: 24px;
    margin-bottom: 20px;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #218838;
}

.signup-link {
    margin-top: 15px;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
